html {
    /*font-family: sans-serif;
    line-height: 1.15;*/
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent
}

footer,nav {
    display: block
}

body {
    margin: 0;
    font-family: Nunito,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #858796;
    text-align: left;
    background-color: #fff
}

[tabindex="-1"]:focus:not(:focus-visible) {
    outline: 0!important
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible
}

h1,h5,h6 {
    margin-top: 0;
    margin-bottom: .5rem
}

ul {
    margin-top: 0;
    margin-bottom: 1rem
}

a {
    color: #4e73df;
    text-decoration: none;
    background-color: transparent
}

a:hover {
    color: #224abe;
    text-decoration: underline
}

img {
    vertical-align: middle;
    border-style: none
}

svg {
    overflow: hidden;
    vertical-align: middle
}

h1,h5,h6 {
    margin-bottom: .5rem;
    font-weight: 400;
    line-height: 1.2
}

h1 {
    font-size: 2.5rem
}

h5 {
    font-size: 1.25rem
}

h6 {
    font-size: 1rem
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0,0,0,.1)
}

.small {
    font-size: 80%;
    font-weight: 400
}

.container {
    width: 100%;
    padding-right: .75rem;
    padding-left: .75rem;
    margin-right: auto;
    margin-left: auto
}

@media (min-width: 576px) {
    .container {
        max-width:540px
    }
}

@media (min-width: 768px) {
    .container {
        max-width:720px
    }
}

@media (min-width: 992px) {
    .container {
        max-width:960px
    }
}

@media (min-width: 1200px) {
    .container {
        max-width:1140px
    }
}

.custom-control-input.is-valid:focus:not(:checked)~.custom-control-label::before,.was-validated .custom-control-input:valid:focus:not(:checked)~.custom-control-label::before {
    border-color: #1cc88a
}

.custom-control-input.is-invalid:focus:not(:checked)~.custom-control-label::before,.was-validated .custom-control-input:invalid:focus:not(:checked)~.custom-control-label::before {
    border-color: #e74a3b
}

.fade {
    transition: opacity .15s linear
}

@media (prefers-reduced-motion:reduce) {
    .fade {
        transition: none
    }
}

.fade:not(.show) {
    opacity: 0
}

.collapse:not(.show) {
    display: none
}

.dropdown {
    position: relative
}

.dropdown-toggle {
    white-space: nowrap
}

.dropdown-toggle::after {
    display: inline-block;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: .5rem 0;
    margin: .125rem 1rem 0;
    font-size: .85rem;
    color: #858796;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #e3e6f0;
    border-radius: .35rem
}

.dropdown-menu-right {
    right: 0;
    left: auto
}

.dropdown-divider {
    height: 0;
    margin: .5rem 0;
    overflow: hidden;
    border-top: 1px solid #eaecf4
}

.dropdown-item {
    display: block;
    width: 100%;
    padding: .25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #3a3b45;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0
}

.dropdown-item:focus,.dropdown-item:hover {
    color: #2e2f37;
    text-decoration: none;
    background-color: #eaecf4
}

.dropdown-item:active {
    color: #fff;
    text-decoration: none;
    background-color: #d5693b
}

.dropdown-item:disabled {
    color: #b7b9cc;
    pointer-events: none;
    background-color: transparent
}

.custom-control-input:focus:not(:checked)~.custom-control-label::before {
    border-color: #bac8f3
}

.custom-control-input:not(:disabled):active~.custom-control-label::before {
    color: #fff;
    background-color: #e5ebfa;
    border-color: #e5ebfa
}

.nav-link {
    display: block;
    padding: .5rem 1rem
}

.nav-link:focus,.nav-link:hover {
    text-decoration: none
}

.navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: .5rem 1rem
}

.navbar-nav {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none
}

.navbar-nav .nav-link {
    padding-right: 0;
    padding-left: 0
}

.navbar-nav .dropdown-menu {
    position: static;
    float: none
}

.navbar-expand {
    flex-flow: row nowrap;
    justify-content: flex-start
}

.navbar-expand .navbar-nav {
    flex-direction: row
}

.navbar-expand .navbar-nav .dropdown-menu {
    position: absolute
}

.navbar-expand .navbar-nav .nav-link {
    padding-right: .5rem;
    padding-left: .5rem
}

.navbar-light .navbar-nav .nav-link {
    color: rgba(0,0,0,.5)
}

.navbar-light .navbar-nav .nav-link:focus,.navbar-light .navbar-nav .nav-link:hover {
    color: rgba(0,0,0,.7)
}

.accordion {
    overflow-anchor: none
}

.close {
    float: right;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .5
}

.close:hover {
    color: #000;
    text-decoration: none
}

.close:not(:disabled):not(.disabled):focus,.close:not(:disabled):not(.disabled):hover {
    opacity: .75
}

button.close {
    padding: 0;
    background-color: transparent;
    border: 0
}

/*.modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1050;
    display: none;
    width: 100%;
    height: 100%;
    overflow: hidden;
    outline: 0
}

.modal-dialog {
    position: relative;
    width: auto;
    margin: .5rem;
    pointer-events: none
}

.modal.fade .modal-dialog {
    transition: transform .3s ease-out;
    transform: translate(0,-50px)
}

@media (prefers-reduced-motion:reduce) {
    .modal.fade .modal-dialog {
        transition: none
    }
}

.modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: .3rem;
    outline: 0
}

.modal-header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 1rem 1rem;
    border-bottom: 1px solid #e3e6f0;
    border-top-left-radius: calc(.3rem - 1px);
    border-top-right-radius: calc(.3rem - 1px)
}

.modal-header .close {
    padding: 1rem 1rem;
    margin: -1rem -1rem -1rem auto
}

.modal-title {
    margin-bottom: 0;
    line-height: 1.5
}

.modal-body {
    position: relative;
    flex: 1 1 auto;
    padding: 1rem
}

.modal-footer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    padding: .75rem;
    border-top: 1px solid #e3e6f0;
    border-bottom-right-radius: calc(.3rem - 1px);
    border-bottom-left-radius: calc(.3rem - 1px)
}

.modal-footer>* {
    margin: .25rem
}

@media (min-width: 576px) {
    .modal-dialog {
        max-width:500px;
        margin: 1.75rem auto
    }
}*/

.bg-white {
    background-color: #fff!important
}

.border-0 {
    border: 0!important
}

.rounded {
    border-radius: .35rem!important
}

.rounded-circle {
    border-radius: 50%!important
}

.d-none {
    display: none!important
}

.d-flex {
    display: flex!important
}

@media (min-width: 576px) {

    .d-sm-block {
        display: block!important
    }
}

@media (min-width: 768px) {
    .d-md-none {
        display:none!important
    }

    .d-md-inline {
        display: inline!important
    }

    .d-md-block {
        display: block!important
    }
}

@media (min-width: 992px) {

    .d-lg-inline {
        display: inline!important
    }
}

.flex-column {
    flex-direction: column!important
}

.justify-content-center {
    justify-content: center!important
}

.align-items-center {
    align-items: center!important
}

@supports ((position: -webkit-sticky) or (position:sticky)) {
}

.shadow {
    box-shadow: 0 .15rem 1.75rem 0 rgba(58,59,69,.15)!important
}

.my-0 {
    margin-top: 0!important
}

.my-0 {
    margin-bottom: 0!important
}

.mr-2 {
    margin-right: .5rem!important
}

.mr-3,.mx-3 {
    margin-right: 1rem!important
}

.mx-3 {
    margin-left: 1rem!important
}

.mb-4 {
    margin-bottom: 1.5rem!important
}

.py-2 {
    padding-top: .5rem!important
}

.py-2 {
    padding-bottom: .5rem!important
}

.my-auto {
    margin-top: auto!important
}

.my-auto {
    margin-bottom: auto!important
}

.ml-auto {
    margin-left: auto!important
}

.text-center {
    text-align: center!important
}

.sidebar .sidebar-heading {
    text-transform: uppercase!important
}

@media print {
    *,::after,::before {
        text-shadow: none!important;
        box-shadow: none!important
    }

    a:not(.btn) {
        text-decoration: underline
    }

    img {
        page-break-inside: avoid
    }

    @page {
        size: a3
    }

    body {
        min-width: 992px!important
    }

    .container {
        min-width: 992px!important
    }

    .navbar {
        display: none
    }
}

html {
    position: relative;
    min-height: 100%
}

body {
    height: 100%
}

a:focus {
    outline: 0
}

#wrapper {
    display: flex
}

#wrapper #content-wrapper {
    background-color: #f8f9fc;
    width: 100%;
    overflow-x: hidden
}

#wrapper #content-wrapper #content {
    flex: 1 0 auto
}

.container {
    padding-left: 1.5rem;
    padding-right: 1.5rem
}

.scroll-to-top {
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    display: none;
    width: 2.75rem;
    height: 2.75rem;
    text-align: center;
    color: #fff;
    background: rgba(90,92,105,.5);
    line-height: 46px
}

.scroll-to-top:focus,.scroll-to-top:hover {
    color: #fff
}

.scroll-to-top:hover {
    background: #5a5c69
}

@-webkit-keyframes growIn {
    0% {
        transform: scale(.9);
        opacity: 0
    }

    100% {
        transform: scale(1);
        opacity: 1
    }
}

@keyframes growIn {
    0% {
        transform: scale(.9);
        opacity: 0
    }

    100% {
        transform: scale(1);
        opacity: 1
    }
}

.animated--grow-in,.sidebar .nav-item .collapse {
    -webkit-animation-name: growIn;
    animation-name: growIn;
    -webkit-animation-duration: .2s;
    animation-duration: .2s;
    -webkit-animation-timing-function: transform cubic-bezier(.18,1.25,.4,1),opacity cubic-bezier(0,1,.4,1);
    animation-timing-function: transform cubic-bezier(.18,1.25,.4,1),opacity cubic-bezier(0,1,.4,1)
}

.bg-gradient-naranja {
    background: #d5693b;
    background-size: cover;
}

.text-gray-400 {
    color: #d1d3e2!important
}

.text-gray-600 {
    color: #858796!important
}

.dropdown .dropdown-menu {
    font-size: .85rem
}

.dropdown.no-arrow .dropdown-toggle::after {
    display: none
}

.topbar .nav-item.dropdown .dropdown-toggle::after {
    width: 1rem;
    text-align: center;
    float: right;
    vertical-align: 0;
    border: 0;
    font-weight: 900;
    content: '\f105';
    font-family: 'Font Awesome 5 Free'
}

.sidebar .nav-item .nav-link,.topbar .nav-item .nav-link {
    position: relative
}

.topbar .nav-item .nav-link .img-profile {
    height: 2rem;
    width: 2rem
}

.topbar {
    height: 4.375rem
}

.topbar #sidebarToggleTop {
    height: 2.5rem;
    width: 2.5rem
}

.topbar #sidebarToggleTop:hover {
    background-color: #eaecf4
}

.topbar #sidebarToggleTop:active {
    background-color: #dddfeb
}

.topbar .topbar-divider {
    width: 0;
    border-right: 1px solid #e3e6f0;
    height: calc(4.375rem - 2rem);
    margin: auto 1rem
}

.topbar .nav-item .nav-link {
    height: 4.375rem;
    display: flex;
    align-items: center;
    padding: 0 .75rem
}

.topbar .nav-item .nav-link:focus {
    outline: 0
}

.topbar .nav-item:focus {
    outline: 0
}

.topbar .dropdown {
    position: static
}

.topbar .dropdown .dropdown-menu {
    width: calc(100% - 1.5rem);
    right: .75rem
}

@media (min-width: 576px) {
    .topbar .dropdown {
        position:relative
    }

    .topbar .dropdown .dropdown-menu {
        width: auto;
        right: 0
    }
}

.topbar.navbar-light .navbar-nav .nav-item .nav-link {
    color: #d1d3e2
}

.topbar.navbar-light .navbar-nav .nav-item .nav-link:hover {
    color: #b7b9cc
}

.topbar.navbar-light .navbar-nav .nav-item .nav-link:active {
    color: #858796
}

.sidebar {
    width: 5rem;
    min-height: 100vh
}

.sidebar .nav-item {
    position: relative
}

.sidebar .nav-item .nav-link:not(.nav-link.subitem) {
    text-align: center;
    padding: .75rem 1rem;
    width: 5rem
}

.sidebar .nav-item .nav-link span {
    font-size: .65rem;
    display: block
}

.sidebar .nav-item.active .nav-link {
    font-weight: 700
}

.sidebar .nav-item .collapse {
    position: absolute;
    left: calc(5rem + 1.5rem / 2);
    z-index: 1;
    top: 2px
}

.sidebar .nav-item .collapse .collapse-inner {
    border-radius: .35rem;
    box-shadow: 0 .15rem 1.75rem 0 rgba(58,59,69,.15)
}

.sidebar .nav-item  .collapse-inner {
    padding: .5rem 0;
    min-width: 10rem;
    font-size: .85rem;
    margin: 0 0 1rem 0
}

.sidebar .nav-item .collapse .collapse-inner .collapse-header {
    margin: 0;
    white-space: nowrap;
    padding: .5rem 1.5rem;
    text-transform: uppercase;
    font-weight: 800;
    font-size: .65rem;
    color: #b7b9cc
}

.sidebar .nav-item  .collapse-inner .collapse-item {
    padding: .5rem 1rem;
    margin: 0 .5rem;
    display: block;
    color: #3a3b45;
    text-decoration: none;
    border-radius: .35rem;
    white-space: nowrap
}

.sidebar .nav-item .collapse .collapse-inner .collapse-item:hover {
    background-color: #eaecf4
}

.sidebar .nav-item .collapse .collapse-inner .collapse-item:active {
    background-color: #dddfeb
}

.sidebar #sidebarToggle {
    width: 2.5rem;
    height: 2.5rem;
    text-align: center;
    margin-bottom: 1rem;
    cursor: pointer
}

.sidebar #sidebarToggle::after {
    font-weight: 900;
    content: '\f104';
    font-family: 'Font Awesome 5 Free';
    margin-right: .1rem
}

.sidebar #sidebarToggle:hover {
    text-decoration: none
}

.sidebar #sidebarToggle:focus {
    outline: 0
}

.sidebar.toggled {
    width: 0!important;
    overflow: hidden
}

.sidebar.toggled #sidebarToggle::after {
    content: '\f105';
    font-family: 'Font Awesome 5 Free';
    margin-left: .25rem
}

.sidebar .sidebar-brand {
    height: 4.375rem;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 800;
    padding: 1.5rem 1rem;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .05rem;
    z-index: 1
}

.sidebar .sidebar-brand .sidebar-brand-text {
    display: none
}

.sidebar hr.sidebar-divider {
    margin: 0 1rem 1rem
}

.sidebar .sidebar-heading {
    text-align: center;
    padding: 0 1rem;
    font-weight: 800;
    font-size: .65rem
}

@media (min-width: 768px) {
    .sidebar {
        width:14rem!important
    }

    .sidebar .nav-item .collapse {
        position: relative;
        left: 0;
        z-index: 1;
        top: 0;
        -webkit-animation: none;
        animation: none
    }

    .sidebar .nav-item .collapse .collapse-inner {
        border-radius: 0;
        box-shadow: none
    }

    .sidebar .nav-item .collapse  {
        margin: 0 1rem
    }

    .m-01rem{
        margin: 0 1rem;
    }

    .sidebar .nav-item .nav-link:not(.nav-link.subitem) {
        display: block;
        width: 100%;
        text-align: left;
        padding: 1rem;
        width: 14rem
    }

    .sidebar .nav-item .nav-link i {
        font-size: .85rem;
        margin-right: .25rem
    }

    .sidebar .nav-item .nav-link span {
        font-size: .85rem;
        display: inline
    }

    .sidebar .nav-item .nav-link[data-toggle=collapse]::after {
        width: 1rem;
        text-align: center;
        float: right;
        vertical-align: 0;
        border: 0;
        font-weight: 900;
        content: '\f107';
        font-family: 'Font Awesome 5 Free'
    }

    .sidebar .nav-item .nav-link[data-toggle=collapse].collapsed::after {
        content: '\f105'
    }

    .sidebar .sidebar-brand .sidebar-brand-text {
        display: inline
    }

    .sidebar .sidebar-heading {
        text-align: left
    }

    .sidebar.toggled {
        overflow: visible;
        width: 5rem!important
    }

    .sidebar.toggled .nav-item .collapse {
        position: absolute;
        left: calc(5rem + 1.5rem / 2);
        z-index: 1;
        top: 2px;
        -webkit-animation-name: growIn;
        animation-name: growIn;
        -webkit-animation-duration: .2s;
        animation-duration: .2s;
        -webkit-animation-timing-function: transform cubic-bezier(.18,1.25,.4,1),opacity cubic-bezier(0,1,.4,1);
        animation-timing-function: transform cubic-bezier(.18,1.25,.4,1),opacity cubic-bezier(0,1,.4,1)
    }

    .sidebar.toggled .nav-item .collapse .collapse-inner {
        box-shadow: 0 .15rem 1.75rem 0 rgba(58,59,69,.15);
        border-radius: .35rem
    }

    .sidebar.toggled .nav-item .collapse {
        margin: 0
    }

    .sidebar.toggled .nav-item .nav-link:not(.nav-link.subitem) {
        text-align: center;
        padding: .75rem 1rem;
        width: 5rem
    }

    .nav-link.subitem{
        padding: 0.5rem 0 0.5rem 2rem;
        font-size: 0.875rem;
    }

    .sidebar.toggled .nav-item .nav-link span {
        font-size: .65rem;
        display: block
    }

    .sidebar.toggled .nav-item .nav-link i {
        margin-right: 0
    }

    .sidebar.toggled .nav-item .nav-link[data-toggle=collapse]::after {
        display: none
    }

    .sidebar.toggled .sidebar-brand .sidebar-brand-text {
        display: none
    }

    .sidebar.toggled .sidebar-heading {
        text-align: center
    }
}

.sidebar-dark .sidebar-brand {
    color: #fff
}

.sidebar-dark hr.sidebar-divider {
    border-top: 1px solid rgba(255,255,255,.15)
}

.sidebar-dark .sidebar-heading {
    color: rgba(255,255,255,.4)
}

.sidebar-dark .nav-item .nav-link {
    color: rgba(255,255,255, 1)
}

.sidebar-dark .nav-item .nav-link i {
    color: rgba(255,255,255,.3)
}

.sidebar-dark .nav-item .nav-link:active,.sidebar-dark .nav-item .nav-link:focus,.sidebar-dark .nav-item .nav-link:hover {
    color: #fff
}

.sidebar-dark .nav-item .nav-link:active i,.sidebar-dark .nav-item .nav-link:focus i,.sidebar-dark .nav-item .nav-link:hover i {
    color: #fff
}

.sidebar-dark .nav-item .nav-link[data-toggle=collapse]::after {
    color: rgba(255,255,255,.5)
}

.nav-item .nav-link {
    color: #ffffffa8
}

.sidebar-dark #sidebarToggle {
    background-color: rgba(255,255,255,.2)
}

.sidebar-dark #sidebarToggle::after {
    color: rgba(255,255,255,.5)
}

.sidebar-dark #sidebarToggle:hover {
    background-color: rgba(255,255,255,.25)
}

.sidebar-dark.toggled #sidebarToggle::after {
    color: rgba(255,255,255,.5)
}

footer.sticky-footer {
    padding: 2rem 0;
    flex-shrink: 0
}

footer.sticky-footer .copyright {
    line-height: 1;
    font-size: .8rem
}

/*------ ------*/

.modalLogout{
    background-color: #d5693b;
    color:#fff;
}

.modalDetalle{
    background-color: #17a2b8;
    color:#fff;
}

.modalEditar{
    background-color: #0b5ed7;
    color:#fff;
}

.modalAlta{
    background-color: #d5693b;
    color:#fff;
}

#modalCajaHeader{
    background-color: #2c3e50;
    color:#fff;
}

.modalColor{
    color:#fff;   
}

#modalTurnoHeader,
form#formTurno div.row input:not([type=checkbox]):not(:hover)
/*form#formTurno div.modal-footer button*/
{
    transition: 1000ms linear 0s;
}

.decorationNone{
    text-decoration: none;
}

.decorationNone:hover{
    text-decoration: none;
}

#sidebarToggle{
    cursor: pointer;
    margin-left: 2rem;
    color:#7a828b;
    font-size: 1.2rem;
}

.dividerPanel{
    width: 70%;
    border-top: 1px solid #fff;
}

.nav-item.active>.nav-link {
    background: #fd8b5a;
    color:#fff;
}

#sidebar .nav-item:hover {
    background: #fd8b5a;
    color:#fff;
}

#sidebar div.collapse>ul>li.nav-item:hover {
    background: #d5693b;
    color:#fff;
    border-radius: 0px 0px 5px 0px;
}

/*------NAVBAR------*/

/*Etiqueta Navlink Collapse*/

.sidebar-icon-only #sidebar .nav-item.hover-open .collapse,
.sidebar-icon-only #sidebar .nav-item.hover-open .collapsing {
  display: block;
  background: #fd8b5a;
  border-radius: 0 0 5px 0;
  position: absolute;
  left: 80px;
  top: 48px;
  width: 190px;
  -webkit-box-shadow: 4px 4px 7px 0px rgba(182, 185, 189, 0.25);
  box-shadow: 4px 4px 7px 0px rgba(182, 185, 189, 0.25);
}

/*Border Radadius MenuTitle con subitem*/
.sidebar-icon-only #sidebar .nav-item .nav-link[aria-expanded] .menu-title {
  border-radius: 0 5px 0 0px;
}


/*Ocular Texto MenuItem en Sidebar*/
.sidebar-icon-only #sidebar .nav-item .nav-link .menu-title {
    display: none;
}

/*Etiqueta MenuItem*/
.sidebar-icon-only #sidebar .nav-item.hover-open .nav-link .menu-title {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    background: #fd8b5a;
    padding: 0.5rem 1.4rem;
    left: 80px;
    position: absolute;
    text-align: left;
    top: 0;
    bottom: 0;
    width: 190px;
    z-index: 1;
    line-height: 1.8;
    -webkit-box-shadow: 4px 0px 7px 0px rgba(182, 185, 189, 0.25);
    box-shadow: 4px 0px 7px 0px rgba(182, 185, 189, 0.25);
}

/*Texto Etiqueta MenuItem*/
#sidebar .nav-item .nav-link .menu-title {
    color: inherit;
    display: inline-block;
    font-size: 0.875rem;
    line-height: 1;
    vertical-align: middle;
}

/*Border Radius Etiqueta MenuItem + Color*/
.sidebar-icon-only #sidebar .nav-item .nav-link .menu-title {
    border-radius: 0 5px 5px 0px;
    background: #fd8b5a;
}

li.nav-item{
    cursor: pointer;
}